* {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
}
table td, table th {
    font-family: "Aptos Narrow", Arial, Helvetica, sans-serif;
    font-size: 11px;
    border: 1px solid #000;
    text-align: left;
    width: 80px;
}
table th {
    background-color: #f2f2f2;
}
.align-right {
    text-align: right;
}

#table1 th.align-right {
    text-align: left;
}
.table2-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}
#table2 {
    margin-top: 10px; 
    border-collapse: collapse;
}
#table2 th {
    border: 1px solid #000;
    text-align: center; 
    font-weight: bold;
}
#table2 td {
    border: 1px solid #000;
    text-align: center; 
}
